/* CSS  RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET ENDS HERE */

/* CUSTOM STYLES */

/* BOX SIZING */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*  BODY */
body {
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
	color: #fff;
}
/* COMMON FEATURES */

/* CONTAINER */
.container {
	max-width: 1279px;
	margin: 0 auto;
	padding: 0 8em;
}
/* FLEX */
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
/* ANCHOR TAGS AND PARA COMMON STYLES  */
a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
p {
	font-size: 18px;
	color: #747474;
}
.btn {
	display: inline-block;
    padding: 10px 20px;
	text-align: center;
	margin: 4px 2px;
	border-radius: 22px;
}
/* SQUARE DOTS */
.square-container {
	width: 30px;
  }
  .square {
	  width: 30%;
	  height: 10px;
	  background-color: #a7a4a4;
  }

/* PAGE HEADER */
.page-header {
	z-index: 1;
	position: absolute;	
	top: 2em;
	width: 100%;
}
.page-header h1 {
	font-size: 36px;
	font-weight: 900;
}
.page-header nav a {
	margin-left: 1em;
}
.page-header .btn {
	background: #CF3732;
}
/* HERO SECTION */
.hero-section {
	background: linear-gradient(to right, rgba(66,132,214, .9), rgba(120,140,211, .9), 
				rgba(102,182,192, .6), rgba(113,203,170,.8),
				rgba(17, 243, 104, .8)), url("../home-bg.jpg") no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 100vh;
	width: 100vw;
	padding-top: 5em;
	margin-bottom: 3em;
}
.hero-content {
	margin-top: 5em;
	padding-top: 5em;
}
.moto {
	width: 50%;
}
.moto h2 {
   font-size: 42px;
   font-weight: 900;
}
.moto a {
	border: 2px solid #fff;
}
.enquiry-container {
	justify-content: center;
}
.enquiry {
	color: #fff;
	padding-left: 1em;
	margin-left: 1em;
}
.enquiry small {
	font-size: 14px;
}
/* MAIN */

/* ABOUT SECTION */
.about-section {
	margin-top: 3em;
	padding-top: 3em;
}
.intro {
	width: 30%;
	padding-bottom: 3em;
}
.intro h3 {
	font-size: 36px;
	color: black;
	font-weight: 700;
}
.intro p {
	padding-top: 1em;
}
.progress {
	width: 20%;
}
.progress p {
	color: black;
	padding-top: .75em;
}
progress {
	background: #000;
	height: 4px;
	width: 100%;
}
progress::-webkit-progress-value {
	background: #000;
}
 .about-image {
	width: 30%;
} 
.about-image img {
	width: 100%;
	height: 450px;
} 
/* SECTION HEADER */
.section-header {
	color: black;
	text-align: center;
	padding: 3em 0;
}
.section-header h3 {
	font-size: 36px;
	font-weight: 900;	
}
.section-header .square-container {
	margin: 0 auto;
}
/* BLOG SECTION */
.blog-section .section-header {
	background: #EFEFEF; 
}
.blog-container {
	background: #efefef;
	flex-wrap: wrap;
	padding-bottom: 2em;
}
.blog-content {
	width: 48%;
	background: #fff;
	margin-bottom: 4%;
}
.blog-content figure {
	width: 40%;
}
.blog-content img {
	width: 100%;
}
.blog-content aside {
	width: 55%;
}
.blog-content h4 {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	padding: .5em 0;
}
.red {
	color: #CF3732;
	font-size: 12px;
}
.blog-content .btn {
	background-color: #EFEFEF;
	color: #686868;
	margin-top: 1em;
}
/* WORK  SECTION */
.work-section {
       margin-bottom: 5em;
	   background: #fff;
}
.work-section .section-header {
	background: #fff; 
}
.work-image {
	width: 23%;
}
.work-image img {
	width: 100%;
}
/* CONTACT SECTION */
.contact-section {
	background: linear-gradient(to right, #0D76E6, #76E472);
	padding-bottom: 5em;
}
.form-container {
	width: 60%;
	flex-wrap: wrap;
}
.form-container input {
	width: 47%;
	height: 3em;
	padding: 1em;
	font-size: 20px;
	margin: 1em 0;
	border-radius: 12px;
	border: none;	
}
.form-container textarea {
	width: 100%;
	height: 9em;
	padding: 1em;
	margin: 1em 0;
	border: none;
	border-radius: 12px;
	font-size: 20px;
}
.form-container a {
	background: #CF3732;
	margin-top: 1em;
}
.map-container {
	width: 35%;
}
.map-container iframe {
	border-radius: 50%;
}

/* FOOTER */
.footer {
	background: linear-gradient(to right, #3A3A3A, #010101);
	padding-top: 4em;
	padding-bottom: 2em;
}
.footer-content {
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 3em;
	padding-bottom: 2em;
}
.find p {
	color: #fff;
}
.footer-content h3 {
	font-size: 32px;
	font-weight: 700;
}
.hydro-description {
	width: 35%;
}
.footer hr {
	width: 100%;
	margin-top: 2em;
}
.call {
	color: #fff;
}
.footer .icon-nav a {
	margin-left: 1em;
}
/* STYLE ENDS HERE */